@charset "utf-8";
/* CSS Document */
body,div,p,ul,dl,dt,dd,ol,li,h1,a,img,span,small,strong,em,i,a,form,button,input,h3,label,textarea{margin:0; padding:0;}
table{ border-collapse:collapse;border-spacing:0; }
body{font: 14px/1.5 tahoma,arial,"Hiragino Sans GB","Microsoft Yahei",宋体;color: #808080;background: #F4F5F7}
a{text-decoration:none;color: #0088CC}
li{list-style:none;}
input{border:none;background: #fff;color: #999;}
textarea{border: 0 none;overflow:auto}
img{border:0;}
i{font-style: normal;}
.checkbox{width: 14px;height: 14px;vertical-align: middle;margin-right: 10px;}
s{text-decoration: none;}
.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0}
.clearfix:after{clear:both}


.title-tips{
	color: #666;text-align: left;
}

.title-tips-cnt i{
	position: absolute;left:0;top:2px;
}

.title-tips-cnt{
	position: relative;*zoom:1;
	padding-left: 20px;
}

.password-power{
	width: 204px;line-height:14px; display: block; background-color: #f1f1f1;border: 1px solid #ddd;
}

.level-a,.level-b,.level-c{
	float: left;
	height: 22px;line-height: 22px;
	color: #999;text-align: center;
}

.level-a{
	width: 67px;border-right: 1px solid #ddd;
}
.level-b{
	width: 67px;border-right: 1px solid #ddd;
}
.level-c{
	width: 68px;
}

.red{background: none repeat scroll 0% 0% rgb(230,86,52);color: #fff;}
.yellow{background: none repeat scroll 0% 0% rgb(255, 153, 0);color: #fff;}
.green{background: none repeat scroll 0% 0% rgb(111,193,69);color: #fff;}

