.cui-form-tips {
  position: relative;
  padding: 5px 5px 5px 30px;
  border: 1px solid #8bc0ef;
  background: #e3f2fc;
  color: #333;
}
.cui-form-tips i {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #4580c0;
}
